
#name,
#email,
#password {
    margin-bottom: 10px;
}

#createUserButton {
    background-color: #b871c2;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#createUserButton:hover {
    background-color: #8d3fa0;
}

.errorMessage {
    color: red;
    margin-top: 10px;
}